@charset "UTF-8";
/* CSS Document */
body, div, p, h1, h2, h3, h4, h5, h6, ul, li, ol, dl, dt, dd, img, form, table, tr, th, td, caption, fieldset, input {
  margin: 0;
  padding: 0; }

html, body {
  width: 100%;
  height: auto; }

body {
  font-family: "微软雅黑", Arial;
  background-color: #fff; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none; }

img {
  border: none;
  display: block; }

i {
  display: none; }

.checkoutBox {
  width: 1162px;
  margin: 0 auto;
  height: 371px;
  border-bottom: 1px solid #E7E7E7; }

.emptyA {
  display: block;
  height: 371px;
  color: #3C2314;
  font-size: 14px;
  text-align: center;
  line-height: 371px;
  letter-spacing: 1.5px; }

.popbox {
  width: 1162px;
  height: 404px;
  margin: 0 auto;
  background-color: #fff;
  padding-top: 20px; }

.popbox .poph2 {
  width: 1162px;
  height: 54px; }

.popbox .poph2 .h2p {
  width: 168px;
  height: 52px;
  padding-top: 24px;
  float: left;
  color: #3c2314; }

.popbox .poph2 .more {
  width: 31px;
  height: 52px;
  float: right;
  font-size: 14px;
  letter-spacing: 1.5px;
  color: #3c2314;
  text-align: center;
  padding-top: 36px; }

.popbox .poph2 .more:hover {
  color: #c8b49b; }

.popbox .cakebox {
  clear: right;
  display: block;
  width: 280px;
  height: 280px;
  float: left;
  margin: 0 5px;
  position: relative;
  overflow: hidden; }

.cakebox .boxDown, .boxUp {
  width: 280px;
  height: 280px; }

.cakebox .boxUp {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  transition: all .5s; }

.cakeimg, .cakeimg1 {
  width: 280px;
  height: 280px;
  transition: all .5s; }

#cakeBoxId:hover #boxUpId {
  opacity: 1; }

#cakeBoxId:hover #cakeImgId1 {
  transform: scale(1.3); }

.cakebox .titleP {
  position: absolute;
  left: 14px;
  bottom: 10px;
  z-index: 990;
  background: rgba(255, 255, 255, 0.7);
  width: 250px;
  height: 58px;
  border: 1px solid #e7e7e7;
  font-size: 14px;
  color: #3c2314;
  letter-spacing: 1.5px;
  text-align: center; }

.titleP .cakeP1, .cakeP2 {
  display: inline-block;
  height: 17px;
  font-size: 14px;
  color: #3c2314;
  letter-spacing: 1.5px;
  line-height: 30px;
  margin: 6px 0; }

.titleP .priceSpan {
  display: block;
  height: 29px;
  font-size: 14px;
  font-weight: bold;
  color: #aa8764;
  letter-spacing: 1.5px;
  line-height: 29px;
  margin: 0 auto; }
