.h_uls .h_li:nth-child(6) .h_a {
  color: #c8b49b; }

.sec_regBox {
  width: 1162px;
  height: 325px;
  margin: 170px auto 0; }

.sec_regBox .box {
  width: 400px;
  height: 325px;
  background: #fff;
  margin: 0 auto; }

.box .p1 {
  width: 400px;
  height: 27px;
  text-align: center;
  border-bottom: 3px solid #C8B49B;
  font-size: 18px;
  color: #3c2314;
  margin-bottom: 20px;
  padding-bottom: 20px; }

.box .uls {
  width: 400px;
  height: 165px; }

.uls .lis {
  width: 380px;
  height: 50px;
  padding: 0 10px;
  border-bottom: 1px solid #E7E7E7; }

.lis label {
  display: inline-block;
  width: 84px;
  height: 50px;
  font-size: 14px;
  color: #3c2314;
  line-height: 50px;
  text-align: left;
  letter-spacing: 1.5px; }

.lis input {
  width: 130px;
  height: 30px;
  margin-left: 10px;
  border: none;
  outline: 0; }

.lis input a {
  display: inline-block;
  float: right; }

.lis a {
  font-size: 14px;
  color: #3c2314;
  line-height: 50px;
  text-align: left; }

.lis a:hover {
  color: #c8b49b; }

.box .p2 {
  width: 380px;
  height: 21px;
  font-size: 14px;
  color: #d5d5d5;
  letter-spacing: 1.5px;
  padding: 0 10px; }

.p2 a {
  float: right;
  font-size: 14px;
  color: #c8b49b;
  letter-spacing: 1.5px; }

.box .btn {
  display: block;
  width: 153px;
  height: 40px;
  margin: 30px auto 0;
  background: #3c2314;
  color: #FBF5DD;
  border: none;
  cursor: pointer;
  outline: 0; }
