@charset "UTF-8";
/* CSS Document */
body, div, p, h1, h2, h3, h4, h5, h6, ul, li, ol, dl, dt, dd, img, form, table, tr, th, td, caption, fieldset, input {
  margin: 0;
  padding: 0; }

html, body {
  width: 100%;
  height: auto; }

body {
  font-family: "微软雅黑", Arial;
  background-color: #fff; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none; }

img {
  border: none;
  display: block; }

i {
  display: none; }

.banner {
  height: 813px;
  background: url(../img/3857.jpg) no-repeat center center;
  margin: 0 auto; }

.banner .head {
  width: 1162px;
  height: 76px;
  padding-top: 24px;
  margin: 0 auto;
  text-align: right; }

.banner .head a, span {
  font-size: 14px;
  letter-spacing: 1.5px;
  color: #3c2314;
  line-height: 52px;
  padding-right: 10px; }

.banner .head span {
  padding-right: 20px; }

.banner .head span:nth-child(3) {
  padding-right: 0; }

.banner a:hover {
  color: #c8b49b; }

.banner .nav {
  width: 1162px;
  height: 82px;
  margin: 0 auto; }

.nav .logo {
  width: 246px;
  height: 74px;
  float: left; }
