$FontFamily:"微软雅黑",Arial;
$marginInit:0 auto;
$BgColorInit:#fff;
$FontSize:14px;
$color:#3c2314;
$colorHover:#c8b49b;
$LetterSpacing:1.5px;
$Width:1162px;
$Border:1px solid #E7E7E7;

@charset "utf-8";
/* CSS Document */
body,div,p,h1,h2,h3,h4,h5,h6,ul,li,ol,dl,dt,dd,img,form,table,tr,th,td,caption,fieldset,input{
  margin:0;
  padding:0;
}
html,body{
  width:100%;
  height:auto;
}
body{
  font-family: $FontFamily;
  background-color:#fff;
}
ul,ol{
  list-style: none;
}
a{
  text-decoration: none;
}
img{
  border:none;
  display: block;
}
i{
  display: none;
}
// fixed
.infoFixed{
  position:fixed;
  left:20px;
  bottom:21px;
  width:105px;
  height:31px;
  border-radius:3px;
  background:url(../img/iconBack2.png) no-repeat left top;
  z-index:999;
  padding:13px 0 0 7px;
}
.infoFixed a,img{
  width:112px;
  height:44px;
  border-radius:3px;
  
}
.infoFixed img{
  width:105px;
  height:31px;
}
.couponFiexd{
  position:fixed;
  right:2px;
  bottom:2px;
  z-index:999;
}
.couponFiexd a{
  display:inline-block;
  width:39px;
  height:39px;
  background:#666666;
  font-size:$FontSize;
  text-align:center;
  letter-spacing:$LetterSpacing;
  color:#fff;
}
.couponFiexd .aImg{
  position:absolute;
  left:-490px;
  bottom:-10px;
  display:none;
  width:476px;
  height:326px;
  border:2px solid #fff;
  background:url(../img/couponFiexd_aImg.jpg) no-repeat left top;

}
.couponFiexd:hover .aImg{
  display:block;
}

// header
.header{
  width:100%;
  height:70px;
  border-bottom:$Border;
  position:fixed;
  left:0;
  top:0;
  background:#fff;
  z-index:999;
}
.headerBox{
  width:$Width;
  height:69px;
  margin:$marginInit;
}
.headerBox .logo{
  display:block;
  float:left;
  width:175px;
  height:70px;
  background:url(../img/header_logo_text.png) no-repeat center;
}
.headerBox .h_uls{
  width:650px;
  height:70px;
  float:left;
  padding-left:100px;
}

.h_uls .h_li{
  display:inline-black;
  float:left;
  height:70px;
  line-height:70px;
  padding:0 22px;
}
.h_li .h_a{
  font-size:$FontSize;
  color:$color;
}
.h_li:hover .h_a{
  color:$colorHover;
}
.headerBox .h_right{
  float:right;
  width:150px;
  height:70px;
  font-size:$FontSize;
  color:$color;
  text-align:center;
  line-height:70px;
  text-indent: -47px;
  position:relative;
}
.h_right a{
  font-size:$FontSize;
  color:$color;
  margin:5px;
}
.h_right a:hover{
  color:$colorHover;
}
.h_right .r_span{
  display:inline-black;
  float:right;
  width:23px;
  height:70px;
  background:url(../img/shop_bag.png) no-repeat right center;
  cursor:pointer; 
}
.h_right .r_count{
  position:absolute;
    right: -25px;
    top: 28px;
  width:17px;
  height:17px;
  line-height:17px;
  border-radius:50%;
  background:$color;
  color:#fff;
  font-size:$FontSize - 4;
  cursor:pointer; 
    text-indent: 0px;
}


//footer
.footer{
  clear:both;
  height:280px;
  margin-top:252px;
  background:url(../img/footer.png) no-repeat left top;
}
.footer .footBox{
  width:$Width;
  margin:0 auto 20px;
  height:131px;
  padding-top:69px;
  text-align:center;
}
.footBox .footUls{
  display:inline-block;
  width:729px;
  height:69px;
  margin:0 auto;
  background:url(../img/footer_log.png) no-repeat left bottom;
  padding-left:131px;
}
.footUls .footLis{
  float: left;
  padding: 50px 42px 0 48px;
  height:14px;
  background:url(../img/footer_point.png) no-repeat right bottom;
}
.footUls .footLis:nth-child(5){
  background:none;
}
.footLis .footA{
  font-size:$FontSize;
  color:$color;
}
.footBox .footP{
  padding-top: 30px;
  width:860px;
  height:12px;
  line-height:12px;
  margin:$marginInit;
  color:#9b9b9b;
  font-size:$FontSize - 2;
  letter-spacing:$LetterSpacing;
}
.copy{
  width:$Width;
  height:12px;
  margin:$marginInit;
}
.copy .copyP{
  width:900px;
  text-align:center;
  height:24px;
  line-height:24px;
  margin:$marginInit;
  color:#9b9b9b;
  font-size:$FontSize - 2;
  letter-spacing:$LetterSpacing;
}
.copyP .copyA{
  color:#9b9b9b;
  font-size:$FontSize - 2;
  letter-spacing:$LetterSpacing;
}
.copyP .copyA:hover{
  color:$colorHover;
}
