@charset "utf-8";
/* CSS Document */

$FontFamily:"微软雅黑",Arial;
$marginInit:0 auto;
$BgColorInit:#fff;
$FontSize:14px;
$color:#3c2314;
$colorHover:#c8b49b;
$LetterSpacing:1.5px;
$Width:1162px;
$Border:1px solid #E7E7E7;


body,div,p,h1,h2,h3,h4,h5,h6,ul,li,ol,dl,dt,dd,img,form,table,tr,th,td,caption,fieldset,input{
  margin:0;
  padding:0;
}
html,body{
  width:100%;
  height:auto;
}
body{
  font-family: $FontFamily;
  background-color:#fff;
}
ul,ol{
  list-style: none;
}
a{
  text-decoration: none;
}
img{
  border:none;
  display: block;
}
i{
  display: none;
}


// zzc
.zzc{
  width:100%;
  height:4000px;
  background:rgba(0,0,0,.7);
  z-index:999;
  position:fixed;
  top:0;
  display:none;
}
.header{
  z-index:998;
}


// section-one

.imgBox{
  width:100%;
  height:370px;
  margin-top:100px;
  padding-left:50px;
}
.imgBox a{
  width:379px;
  height:279px;
  float:left;
  margin-right:30px;
  background-size: 100%;
}
.imgBox a:nth-child(3){
  margin-right:0px;
}
.eatImg{
  background:url(../img/EnterpriseZone01.jpg) no-repeat left top;
}
.customImg{
  background:url(../img/EnterpriseZone02.jpg) no-repeat left top;
}
.procurementImg{
  background:url(../img/EnterpriseZone03.jpg) no-repeat left top;
}
.boxes{
  width:$Width;
  height:auto;
  margin:$marginInit;
}

// eatBox
.eatBox,.exchangeBox,.customBox,.procurementBox,.cooperationBox{
  width:$Width;
  height:256px;
  letter-spacing:$LetterSpacing;
}
.boxes h2{
  width:$Width;
  height:65px;
  text-align:left;
  line-height:52px;
  border-bottom:$Border;
  font-weight:normal;
  color:#AA8764;
  font-size:$FontSize + 8;
}
.boxes span{
  display:inline-block;
  width:99px;
  height:29px;
  text-align:center;
  line-height:29px;
  border-bottom:$Border;
  font-size:$FontSize;
  color:#FBF5DD;
  background:$color;
  margin-left:68px;
  vertical-align:middle;
  cursor:pointer;
}
#customBoxId span{
  margin-left:21px;
}
.boxes p{
  width:$Width;
  height:30px;
  text-align:left;
  line-height:60px;
  color:$color;
}
.boxes .p1{
  font-size:$FontSize + 4;
}
.boxes .p2{
  font-size:$FontSize - 4;
}